/*主弹窗*/
div.uno {
  width: 70%;
  height: 50%;
  position: absolute; /* 使用绝对定位 */
  top: 50%; /* 从顶部的中心位置开始 */
  left: 50%; /* 从左侧的中心位置开始 */
  transform: translate(-50%, -50%); /* 使用transform属性进行偏移 */
  background-color: #fff;
 }
