/*主窗口*/
div.uno {
  width: 70%;/*大小*/
  height: 60%;
  position: absolute;/*居中*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /*置顶*/
  background-color: #fff;/*样式*/
  border-radius: 10px; 
  border: 1px solid lightgray;
 }
